* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ArvoRegular';
    src: url('arvo-regular.eot');
    src: url('arvo-regular.eot') format('embedded-opentype'),
         url('arvo-regular.woff') format('woff'),
         url('arvo-regular.ttf') format('truetype'),
         url('arvo-regular.svg#ArvoRegular') format('svg');
}

body {
    margin: 1em auto;
    line-height: 1.8em;
}

a {
    color: #422C9e;
}
.l-box {
    padding: 1em; /**FIGURE OUT**/
}

.header {
    margin: 0 0;
}

#navMenu {
    margin-top: -60px;
}

    .header .pure-menu {
        padding: 0.1em auto;
    }

    .header .pure-menu .pure-menu-heading {
        color: #422C9E;
        margin-top: -60px;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus
        .header .pure-menu ul {
            background: none;
            border: none;
            color: #eee;
        }
/***#02a6eb --- light purple: 8E8ED6***/
body .primary-button {
    background: #422C9E;
    color: #fff;
}

.splash {
    margin: 3.2em auto 0;
    padding: 2em 0.5em;
    background: #eee;
}
    .splash .splash-head {
        font-size: 1.2em;
        margin: 1.9em 0;
        line-height: 2em;
        font-family: Arvo;
        text-transform: uppercase;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        font-size: 1.2em;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 115.385%;
    }

#bullbear {
    margin: 80px 10px;
}
.1-box {
        font-family: Arvo;
}

.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: .8em 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
    font-family: Arvo;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
